<table class="table table-dark">
    <thead>
        <tr>
            <th>ClienteId</th>
            <th>Nombre</th>
            <th>Rut</th>
            <th>Telefono</th>
            <th>Correo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let persona of lista">
            <td>{{persona.ClienteId}}</td>
            <td>{{persona.Nombre}}</td>
            <td>{{persona.Rut}}</td>
            <td>{{persona.Telefono}}</td>
            <td>{{persona.Correo}}</td>
        </tr>
    </tbody>
</table>